body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
}

textarea {
  width: 100%;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.note {
  display: flex;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.note-text {
  width: 75%;
}
.note-buttons {
  right: 10px;
  top: 0px;
}

.note-buttons button {
  background-color: #6c757d;
}

.note-buttons button:hover {
  background-color: #5a6268;
}
